/*reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

a {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

p {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

h3 {
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
}

.btn {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

.precio {
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
}

.form-control{
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
}

.navbar {
    --bs-navbar-brand-margin-end: 0;
}

.carrito {
    margin-left: 15px;
    
}