/*reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

a {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

p {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

h3 {
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
}

.btn {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

.precio {
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
}

.form-control{
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
}

.navbar {
    --bs-navbar-brand-margin-end: 0;
}

.colorBgBtn {
    background: rgb(102,16,242);
    background: linear-gradient(308deg, rgba(102,16,242,1) 0%, rgba(144,19,254,1) 50%);
    --bs-btn-border-color: none;
}

.btn-close:focus {
    outline: 0;
    box-shadow: 0 0 0 .25rem rgba(103, 16, 242, 0.2);
    opacity: .9;
}

.form-control:focus{
    color: #212529;
    background-color: #fff;
    border-color: #2125294f;
    outline: 0;
    box-shadow: 0 0 0 .25rem rgba(103, 16, 242, 0.2);
}